
<% for(var i = 0; i < data[1].length; i++) { %>

    <article class="blog-post">

        <div class="image" style="background-image: url(../img/blogPost1000x750/<%= data[1][i].image %>);"><!----></div>

        <div class="content">

            <h2><%= data[1][i].title %></h2>

            <span><a class="link"><%= data[1][i].author %></a> • <%= data[1][i].creationDate %></span>

            <p>
                <%- data[1][i].content %>
            </p>

            <div class="align-right">
                <a class="link">Continuez à lire...</a>
            </div>

        </div>

    </article>

<% } %>