
<% for(var i = 0; i < BlogPost.length; i++) { %>

    <article class="blog-post" id="BP<%= BlogPost[i].id %>">

        <header>
            
            <div class="image"><!----></div>
            
            <div class="ribbon">
                <p><%= BlogPost[i].type %></p>
            </div>
            
        </header>
        
        <div class="content">

            <h2><%= BlogPost[i].title %></h2>

            <p class="info"><a class="link"><%= BlogPost[i].author %></a> • <time datetime="<%= BlogPost[i].publicationDate %>"><%= BlogPost[i].publicationDate %></time></p>
            
            <hr class="mini">

            <p class="text">
                <%- BlogPost[i].description %>
            </p>

        </div>
        
        <div class="align-right">
            <a class="link">Lire l'article</a>
        </div>
        
        <style>
            
            #BP<%= BlogPost[i].id %> .image {
                background-image: url(../img/blogPost1000x500/<%= BlogPost[i].image %>)
            }
            
            #BP<%= BlogPost[i].id %> .ribbon p {
                color: <%= BlogPost[i].fontColorHex %>;
                background-color: <%= BlogPost[i].colorHex %>;
            }
            
            #BP<%= BlogPost[i].id %> .ribbon::before {
                border-bottom-color: <%= BlogPost[i].secColorHex %>
            }

        </style>

    </article>

<% } %>