<!DOCTYPE html>
<html>

<%- include head.ejs %>

<body>
    <%- include home-header.ejs %>
    <section id="introduction">
        <div class="wrapper">
            
            <h1>Introduction</h1>
            
            <p class="fancy">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sagittis lorem in erat pellentesque, at tincidunt sem dapibus. Sed condimentum urna nisi, nec aliquam erat finibus porta. Aenean a metus non ante finibus accumsan nec id lectus. Aliquam fringilla arcu ullamcorper, viverra massa sed, suscipit felis. Donec vitae velit turpis. Phasellus cursus vitae augue a pharetra. Quisque ut augue imperdiet, fringilla velit sit amet, bibendum diam. Nullam lorem libero, aliquet nec tempus vitae, volutpat at sapien. Nullam commodo at lorem quis tincidunt. Duis bibendum, mauris a egestas tincidunt, urna elit lacinia sem, sed aliquet mauris quam ut purus. Vivamus pretium nulla sit amet arcu sollicitudin vulputate vitae ac nisi. Donec vehicula accumsan accumsan. Morbi auctor consectetur massa, et suscipit lacus gravida vitae. Quisque ut scelerisque ligula.
            </p>
            
        </div>
    </section>
    <section id='home-project'>
        <div class="wrapper">
            
            <h1>Projets en vedette</h1>
            
            <div class="simple-container no-float">
            
            <%- include project-tiles.ejs %>
                
            </div>
            
            <div class="align-right">
                <a class="href-button">Voir tous les projets</a>
            </div>
        </div>
    </section>
    <section id="home-blog">
        <div class="wrapper">
        
            <h1>Articles récents</h1>
            <hr/>
            
            <div class="container no-float">
                    
                <%- include blog-posts.ejs %>

            </div>
            
            <div class="align-right">
                <a class="href-button">Visitez le blog</a>
            </div>
        </div>
        
    </section>
	
    <%- include main-footer.ejs %>
	
</body>
</html>